.home-shell{
    width:100vw;
    height:100vh;
    overflow-y: scroll;
    background-color: rgb(250, 250, 250);
}

.main-description{
    margin: 0 auto;
    margin-top: 4%;
    width:80%;
    height:45%;
    text-align: center;
}

.main-description h1{
    margin-bottom: 1.5%;
}

.main-description p{
    margin: 2%;
}

.main-description .sign-up{
    color: white;
    background-color: rgb(164,94,229);
    min-width:100px;
    width:12.5%;
    height:45px;
    margin-bottom: 3%;

}

.main-description .offering-display{
    width:95%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-wrap: wrap;
    min-height: 150px;
    max-height:450px;
}

.main-description .offering-display h3{
    font-size: 1.25rem;
    font-weight: 650;
    margin:1%;
}

.main-description .offering-display button{
    margin: 1%;
    box-shadow: 2px 2px 2px gray;
    background-color: whitesmoke;
}

.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    height:10%;
    margin: 0 auto;
    margin-top: 2.5%;
}

.stat{
    text-align: left;
}

.bottom-navigation{
    display: none;
    width:100%;
    justify-content: space-between;
    margin-top: 5%;
}

.bottom-option{
    width: 100%;
}

.bottom-option p{
    font-size: 0.75rem;
}

/* .footer{
    margin-top: 7.5%;
    width: 100%;
    height:100%;
    background-color: rgba(164,94,229,255);
} */


@media  only screen and (max-width:1200px){
    .main-description .offering-display{
        width:100%;
    }

}

@media  only screen and (max-width:800px){
    .offering-display{
        display: none;
    }
    .stats{
        display: none;
    }
    .main-description .offering-display{
        width:100%;
    }
    .main-description .offering-display button{
        margin:3%;
        font-size: 1rem;
    }

    .bottom-navigation{
        display: flex;
    }



}