.header-shell{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:95vw;
    height:10%;
}

.header-title{
    margin-left: 1.5%;
}

.header-nav-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:55%;
    height: 100%;
    font-size: 16px;
    transition: 0.4s;
}

.header-nav-options button{
    min-width: 80px;
}

.header-nav-options .sign-up{
    border:2px solid black;
    color: white;
    background-color: black;
    width:15%;
    height:60%;

}

.email-counter{
    margin-left: -40%;
    margin-top: -40%;
    background: red;
    color: white;
    font-size: 0.75rem;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.mail{
    border-bottom:1px solid black;
    margin: 2%;
}

.mail h3{
    font-size: 16px;
}

.mail p{
    font-size: 10px;
}


.sidebar-option{
    display: flex;
    align-items: center;
    margin:5%;
    width:100%;
}

.sidebar-option:hover{
    background-color: rgba(220,220,220, 0.2);
}

.sidebar-option p{
    margin-left: 5%;
}



.sign-out-tab{
    cursor: default;
    margin-left: -5%;
}


.divider{
    width:100%;
    margin: 0 auto;
    height:2px;
    border-bottom:1px solid gray;
}


@media  only screen and (max-width:1200px){
    .header-title h1{
        font-size: 2rem;
    }
    
    .header-nav-options{
        width:70%;
    }
    .header-nav-options p{
        font-size: 12px;
    }


}

@media  only screen and (max-width:800px){
    
    .header-nav-options p{
        display: none;
    }
    .header-nav-options{
        width:50%;
    }

    .sidebar-option p{
        font-size: 0.8rem;
    }

}